<div id="main-container">
    <ul id="link-list">
      <li id="logo-container">
        <img src="./assets/imgs/logos/logo-alpha2.png" />
      </li>
      <ng-container  *ngFor="let sectionTitle of sectionTitles; let i = index">
          <li (click)="navigateToPage(i)">
              <h1 class="title-first">{{sectionTitle}}</h1>
          </li>
      </ng-container>
    </ul>
    <!-- <div id="copyright-container">
      <span>
          ©
          {{currentYear}} Exo Productions GmbH<br>
          Schweiz<br>
          Kanton Luzern<br>
          6280 Hochdorf<br>
          Rosengartenstrasse 59
      </span>
    </div> -->
  </div>
  